@model IEnumerable<ASP_MVC_Entity_CRUD_Modal_Bootstrap.Models.MyEntity>
@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    <button type="button" class="btn btn-sm btn-success" data-toggle="modal" onclick="RenderActions('/MyEntities/Create')" data-target="#modalCreate">Create new</button>
</p>
<table class="table" id="tableMain">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>
    <tbody id="indexTbody">
        @foreach (var item in Model)
        {
            <tr id="@item.Id">
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SecondName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <button class="btn btn-sm btn-primary" data-toggle="modal" onclick="RenderActions('/MyEntities/Edit/' + @item.Id)" data-target="#modalCreate">Edit</button> | 
                    <button class="btn btn-sm btn-danger" data-toggle="modal" onclick="RenderActions('/MyEntities/Delete/' + @item.Id)" data-target="#modalCreate">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="modalCreate" class="modal fade" role="dialog" data-backdrop="false" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="OpenDialog" class="modal-body">
            </div>
        </div>
    </div>
</div>